$positions: t r b l x y other;
$values: 1 2 3 4 auto;
$directions: pos neg;

@function get-value($value, $direction) {
  @return if($value != auto, $direction * $value * .25rem, auto);
}
@function get-direction($direction) {
  @return if($direction == pos, 1, -1);
}


@each $v in $values {

  @each $d in $directions {

    @each $p in $positions {

      .m#{if($p != other, $p, "")}-#{if($d == pos and $v != auto, "", "n")}#{$v} {

        @if ($p == "other") {
          margin: get-value($v, get-direction($d)) !important;
        }
        @if ($p == "t" or $p == "y") {
          margin-top: get-value($v, get-direction($d)) !important;
        }
        @if ($p == "r" or $p == "x") {
          margin-right: get-value($v, get-direction($d)) !important;
        }
        @if ($p == "b" or $p == "y") {
          margin-bottom: get-value($v, get-direction($d)) !important;
        }
        @if ($p == "l" or $p == "x") {
          margin-left: get-value($v, get-direction($d)) !important;
        }
      }
    }
  }
}
