$positions: t r b l x y other;
$values: 1 2 3 4;

@function get-value($value) {
  @return $value * .25rem;
}

@each $v in $values {

  @each $p in $positions {

    .p#{if($p != other, $p, "")}-#{$v} {

      @if ($p == "other") {
        padding: get-value($v) !important;
      }
      @if ($p == "t" or $p == "y") {
        padding-top: get-value($v) !important;
      }
      @if ($p == "r" or $p == "x") {
        padding-right: get-value($v) !important;
      }
      @if ($p == "b" or $p == "y") {
        padding-bottom: get-value($v) !important;
      }
      @if ($p == "l" or $p == "x") {
        padding-left: get-value($v) !important;
      }
    }
  }
}
